@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
    min-height: 100vh;
    background-image: url(images/bg-pattern-top-desktop.svg);
    background-repeat: no-repeat;
}

.container {
    max-width: 80%;
    margin: 0 auto 80px auto;
}

.top-layer {
    position: relative;
    top: 50px;
    display: flex;
    justify-content: space-between;
}

header {
    flex-basis: 50%;
}

header h1 {
    color: hsl(300, 43%, 22%);
    font-weight: 600;
    font-size: 50px;
}

header p {
    color: hsl(303, 10%, 53%);
    line-height: 2;
}

.rating {
    background-color: hsl(300, 24%, 96%);
    padding: 20px;
    display: flex;
    border-radius: 10px;
    margin-bottom: 10px;
    position: relative;
}

.rating-1 {
    right: 90px;
}

.rating-2 {
    right: 40px;
}

.rating-3 {
    right: 0px;
}

.rating p {
    font-weight: 600;
    color: hsl(300, 43%, 22%);
    margin-left: 15px;
}

.bottom-layer {
    display: flex;
    position: relative;
    top: 50px;
    bottom: 50px;
}

.box {
    background-color: hsl(300, 43%, 22%);
    width: 350px;
    border-radius: 10px;
    padding: 20px;
    margin-top: 50px;
    position: relative;
}

.box-2 {
    top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.box-3 {
    top: 30px;
}

.box-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    line-height: 1.5;
}

.box-info .info {
    margin-left: 20px;
    line-height: 1.5;
}

.box-info .info h2 {
    color: #fff;
    font-size: 15px;
}

.box-info .info p {
    color: hsl(303, 10%, 53%);
}

.box-content p {
    color: #fff;
}

.box-info img {
    border-radius: 50%;
    width: 50px;
}

.box .box-content {
    margin-bottom: 20px;
}

@media only screen and (max-width:768px) {
    body {
        background-image: url(images/bg-pattern-top-desktop.svg);
    }

    .top-layer {
        flex-direction: column;
    }

    header {
        text-align: center;
    }

    header h1 {
        font-size: 30px;
    }

    header p {
        font-size: 13px;
        padding: 20px 0;
    }

    .rating {
        position: relative;
        right: 0;
        flex-direction: column;
        text-align: center;
    }

    .bottom-layer {
        flex-direction: column;
        align-items: center;
    }

    .box {
        width: 100%;
        margin-top: 20px;
    }

    .box-3 {
        margin-bottom: 20px;
    }
}